/* Developed for Anunzio International by Anzul Aqeel. Contact +971545822608 or +971585515742. Linkedin Profile: linkedin.com/in/anzulaqeel */

body {
    margin: 0;
    width: 300px;
    height: 400px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
}

.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h1 {
    font-size: 1.5rem;
    color: #333;
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #535bf2;
}

/* Developed for Anunzio International by Anzul Aqeel. Contact +971545822608 or +971585515742. Linkedin Profile: linkedin.com/in/anzulaqeel */
